:root {
  --primary-text-color: #757575;
  --secondary-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --seconadry-accent-color: rgba(24, 140, 232, 1);
  --hero-bg-color: #c4c4c4;
  --footer-bg-color: #2f303a;
  --team-title-bg: #f5f4fa;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --portfolio-item-bg: #eeeeee;
}

/* General styles */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03em;
  line-height: 1.14;

  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  /* outline: 2px solid red; */
}

.button {
  display: inline-block;
  font-size: 16px;
  text-decoration: none;
  text-align: center;

  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

/* Header */
.header {
  border-bottom: 1px solid #ececec;
}

.header-container {
  display: flex;
  align-items: center;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;

  font-weight: 500;
  letter-spacing: 0.02em;
}

.nav {
  display: flex;
  align-items: center;
}

/* Logo  */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

.logo-primary {
  padding-top: 24px;
  padding-bottom: 25px;

  font-size: 26px;
  line-height: 1.19;
}

.logo-style {
  color: var(--accent-color);
}

/* Site navigation */

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.site-nav-link:hover,
.site-nav-link:focus {
  color: var(--accent-color);
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}

/* Contacts navigation */

.contacts-nav {
  display: flex;
  margin-left: auto;
}

.contacts-nav-item:not(:last-child) {
  margin-right: 50px;
}

.contacts-nav-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);
}

.contacts-nav-link:hover,
.contacts-nav-link:focus {
  color: var(--accent-color);
}

/*Hero*/

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: var(--hero-bg-color);
}

.overlay {
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-overlay.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-container {
  margin-bottom: 0;

  color: var(--primary-white-color);
}

.hero-title {
  width: 696px;
  margin-top: 0px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
/* Primary button */

.button-primary {
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  vertical-align: middle;
  padding: 10px 32px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.button-primary:hover {
  color: var(--primary-white-color);
  background-color: var(--seconadry-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* General section title*/

.section-title {
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--secondary-text-color);
}

/* Uppercase titles */

.uptitle {
  margin-top: 0;

  font-size: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* features */

.features-section {
  padding-bottom: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.features {
  display: flex;
}

.features-item:not(:last-child) {
  margin-right: 30px;
}

.features-title {
  color: var(--secondary-text-color);
  margin-bottom: 10px;
}

.features-text {
  color: var(--primary-text-color);
  margin-bottom: 0;
  line-height: 1.71;
}

/* work */

.work {
  display: flex;
  margin-right: auto;
  margin-left: auto;
}

.work-item {
  position: relative;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

/* Team section */

.team-members-section {
  background-color: var(--team-title-bg);
}

.team-members {
  display: flex;
  font-size: 16px;
  line-height: 1.19;
}

.team-members-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
  width: 270px;

  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  background-color: var(--primary-white-color);
}

.team-members-item:not(:last-child) {
  margin-right: 30px;
}

.team-pic {
  display: inline-block;
  margin-bottom: 30px;
}

.team-name {
  margin-top: 0;
  margin-bottom: 10px;

  font-size: inherit;
  font-weight: 500;

  color: var(--secondary-text-color);
}

.team-position {
  margin-top: 0;
  margin-bottom: 16px;
}
/*Foter*/

.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--footer-bg-color);
}

.logo-secondary {
  display: block;
  margin-bottom: 20px;

  font-size: 26px;
  line-height: 1.19;

  color: var(--primary-white-color);
}

/* address */
.address {
  display: block;
}

.address .address-location {
  padding-top: 0px;
  color: var(--primary-white-color);
}

.address-item {
  display: block;
  font-style: normal;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

/* Portfolio  */

.button-secondary {
  display: inline-block;
  padding-right: 22px;
  padding-left: 22px;
  height: 38px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: var(--team-title-bg);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter {
  margin-bottom: 50px;
}

.filter :not(:last-child) {
  margin-right: 8px;
}

.filter {
  display: flex;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
}

/* Portfolio  list */

.header-border {
  border-bottom: 1px solid #ececec;
}

.site-nav-ink--current {
  color: var(--accent-color);
}

/* Porfolio product filters */

.button-secondary {
  display: inline-block;
  padding-right: 22px;
  padding-left: 22px;
  height: 38px;

  font-weight: 500;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  background-color: var(--team-title-bg);
}

.button-secondary:hover,
.button-secondary:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}

.filter {
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter {
  display: flex;
  justify-content: center;

  margin-right: auto;
  margin-left: auto;
}

/* Portfolio product list */

.product {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}

.product-item {
  /* width: 370px; */
  width: calc((100% - (30px * 2)) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  background: var(--primary-white-color);
  border: 1px solid var(--portfolio-item-bg);
  border-radius: 5px;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.product-content {
  padding: 20px 24px;
}

.product-name {
  margin-top: 0;
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.product-desc {
  margin: 0;
  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-text-color);
}
